aside, footer, header, nav, section {
  display: block;
}

body {
  background-image: url('yellow.jpg');
  text-align: center;
  padding: 40px;
}

canvas {
  background-image: url('casabob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid rgb(25, 115, 114);
  border-radius: 15px;
}

h1 {
  color: rgb(204, 212, 212);
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}