aside, footer, header, nav, section {
  display: block;
}

body {
  background-image: url('salon2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px;
}

canvas {
  background-image: url('canvas.jpg');
  background-position: center;
  border: 10px solid rgb(153, 123, 79);
  border-radius: 15px;
}

h1 {
  color: rgb(136, 110, 61);
  font-family: 'Arial', sans-serif;
  font-size: 36px;
  margin-bottom: 20px;
}